@font-face {
    font-family: 'Headhunter';
    src: url('../../utils/HeadhunterRegular-6Y1x.ttf')  format('truetype');
    font-weight: bold;
    };
    @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

    .ac-home
    {
        color: rgb(224, 240, 255);
        margin-top: 5%;
        border: 1px  white;
        padding: 2%;
    }
    .ac-title{
        font-family: 'Headhunter';
        color: rgb(224, 240, 255);
        font-size: 4vh;
        text-align: center;   
    }
    .ac-text
    {
        font-family: 'Special Elite', cursive;
        font-size: 2vh;
        color: rgb(224, 240, 255);
    }
    .ac-br
    {
        margin-top: 5%;
    }
    .my-4
    {
        background-color: #fff;
    }
    .link{
        color: rgb(224, 240, 255);
    }
    .link:hover
    {
        color: #00b0f5;
    }
    #croskull-container{
        
    }

    #croskull-title
    {
        height: auto;
        transition: all 1s ease-in;
        opacity: 0;
        transform: translateY(-50%);
        font-size: 5vh !important;
        text-align: center;
    }
    #croskull-desc
    {
        transition: 1s;
        width: 50%;
        transform: translate(150%,10%);
        transition: all 1s ease-in;
        opacity: 0;
        padding: 15px;
    }
    #croskull-img{
        width: 50%;
        text-align: left;
       transform: translateX(-50%);
       opacity: 0;
       transition: all 1s ease-in;
    }




    #tavern-title
    {
        height: auto;
        transition: all 1s ease-in;
        opacity: 0;
        transform: translateY(-50%);
        font-size: 5vh !important;
        text-align: center;
    }
    #tavern-desc
    {
        transition: 1s;
        width: 50%;
        transform: translateX(150%);
        transition: all 1s ease-in;
        opacity: 0;
        padding: 15px;
    }
    #tavern-img{
        width: 50%;
        text-align: left;
       transform: translateX(-50%);
       opacity: 0;
       transition: all 1s ease-in;
    }
    #croskull-div{
        height: 800px;
    }
    #tavern-div{
        height: 800px;
    }
    #adventure-div{
        height: 800px;
    }
