@font-face {
    font-family: 'Headhunter';
    src: url('./HeadhunterRegular-6Y1x.ttf') format('truetype');
    font-weight: bold;
}


@font-face {
    font-family: 'Elite';
    src: url('./special-elite.regular.ttf') format('truetype');
    font-weight: bold;
}
.home h5:hover{
    color: aliceblue;
}
.home .btn:hover{
    color: white !important;
}
.home h1{
    font-size: 5vh !important;
    font-family: 'Headhunter' !important;
    text-align: center;
}
.container-custom{
    width: 100% !important;
    max-width: 1268px;
}
#header a{
    color: #000000 !important;
}
#header{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 5%;
}
#header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 15px;
}
#header #moon{
    mix-blend-mode: screen;
    z-index: 8;
    animation: moon-an 1s;
}
#header #grass{
    z-index: 9;
    animation: grass-an 1s;
}
#header #grave{
    z-index: 11;
    animation: grave-an 1s;
}
#header #cloud{
    animation: cloud-an 1s;
}
@keyframes grass-an {
	0% {

        opacity: 0;
	}
	100% {

        opacity: 1;
	}
}
@keyframes grave-an {
	0% {
		transform: translateY(100%);
        opacity: 0;
	}
	100% {
		transform: translateY(0);
        opacity: 1;
	}
}
@keyframes cloud-an {
	0% {
		transform: translatex(100%);
        opacity: 0;
	}
	100% {
		transform: translateY(0);
        opacity: 1;
	}
}
@keyframes moon-an {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1;
	}
}
@keyframes button-an {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1;
	}
}
.home .logo-div{
    z-index: 99;
    position: relative;
    font-family: 'Headhunter';
    display: block;
    margin: 0 auto;
}
.home #underworld-btn {
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 99;
    position: relative;
    font-family: 'Headhunter';
    display: block;
    margin: 0 auto;
    animation: button-an 2s;
}
.home #header #logo{
width: 30%;
min-width: 300px;
height: auto;
z-index: 12;
display: block;
position: relative;
margin: 0 auto;
}

.home .what-is div{
    margin-top: 5%;
}

.home .story-text {
    font-family: 'Elite' !important;
    margin: auto !important;
    font-size: large;
    text-align: center;
    
}
.home .story-text h2{
    font-family: 'Headhunter' !important;
    text-align: center;
    font-size: 4vh !important;
}

.home .story-img {
    margin: auto !important;
    text-align: center;
}
.story-img img{
    margin: auto !important;
    width: 50%;
    border-radius: 15px;
}
.what-we-have{
    text-align: center;
    margin: 10% 0 10% 0;
    font-family: 'Elite';
}
.what-we-have h1{
    margin-bottom: 3% !important;
}
.carousel-content{
margin: 10%;
text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;

}
.carousel-content h2{
    font-size: 5vh !important;
    font-family: 'Headhunter' !important;
}
.carousel-content p{
    font-size: 2vh !important;
    font-family: 'Elite' !important;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.s1{
    background-image: url(./Slider/tavern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-items: center;
    height: 50vh;
    border-radius: 15px;
}
.s2{
    background-image: url(./Slider/bonefire.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-items: center;
    height: 50vh;
    border-radius: 15px;
}
.s3{
    background-image: url(./Slider/bg-marketplace.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-items: center;
    height: 50vh;
    border-radius: 15px;
}
.s4{
    background-image: url(./Slider/merchant.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-items: center;
    height: 50vh;
    border-radius: 15px;
}
.s5{
    background-image: url(./Slider/bg-raffle.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-items: center;
    height: 50vh;
    border-radius: 15px;
}
.s6{
    background-image: url(./Slider/bg-bank.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-items: center;
    height: 50vh;
    border-radius: 15px;
}

.roadmap img{
    width: 100%;
    margin: 10% 0 10%;
    border-radius: 15px;
}
.faq{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.faq .card {
    border: 1px solid white !important;
    font-family: 'Elite' !important;
    font-size: 1.5vh !important;
}
.faq .card h5{
    font-size: 2vh !important;
}
.faq .show{
    border-top: 1px solid white;
}

.sk-row-2{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 992px) {
    .sk-row-2{
        flex-direction: column-reverse;
    }
    .home{
        padding-bottom: 5%;
    }
}