.header{
    padding: 0px !important;
    background: #221B47;
}

.navbar{
    width: 100%;
    height: 7.5vh;
}
.crLogo{
    padding: 0 1em;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.site-logo{
    height: 80%;
}

.social-list{
    display: flex;
    flex-direction: row;
    column-gap: 9px;
    margin-left: 12px;
    font-size: 18px;
}
.social-list svg {
    cursor: pointer;
    transition: transform .4s ease;
}
.social-list svg:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 992px) {
    .header{
        min-width: 100vw;
    }
    .social-list{
        margin-top: 12px;
        column-gap: 22px;
        font-size: 22px;
    }
}

.navMenu{
    padding: 10px 15px;
}

.toggler-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(266deg) brightness(107%) contrast(108%);
}

.account-button{
    color: #fff;
    background: #000;
    padding: 12px 24px;
    border: 0px;
    font-weight: 700;
}

.flex-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.balances {
    background: #221b47;
    padding: 6px 12px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.3em;
    font-weight: 500;
    background-size: 400% 400%;
    animation: gradient 5s infinite;
    color: #fff;
    column-gap: 12px;
    align-items: center;
}

.season span{
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.main-balance{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
}

.main-balance span{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    color: #000;
    border-radius: 12px;
    padding-right: 12px;
    border: 2px solid var(--light-violet);
}

.skull-icon{
    height: 24px;
}

.season {
    position: absolute;
    top: 100%;
    padding: 12px 18px;
    color: #fff;
    font-weight: 400;
    transform: scaleY(0);
    transform-origin: top;
    background-size: 400% 400%;
    animation: gradient 5s infinite;
    border: 2px solid var(--yellow);
    border-radius: 6px;
    background: #221b47;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 9;
    opacity: 0;
    min-width: 13vw;
    transition: opacity 0.54s linear 0s, transform 0s 0.54s;
}

.season .skull-button.view-more{
    font-size: 12px;
    font-weight: 500;
    padding: 2px 6px;
    width: 100%;
}

.balances-offcanvas {
    position: relative;
}

.balances-offcanvas:hover > .season{
    transform: scaleY(1);
    opacity: 1;
    transition: opacity 0.54s ease 0s;
}



@media (min-width:320px) and (max-width:640px) { 
    .navbar-nav .nav-link {
        font-weight: 600;
        font-size: 16px;
    }
    div#navbarNav.show {
        transform: translateX(0);
        opacity: 1;
    }
    .navbar-collapse{
        background: #16112d;
        transform: translateX(-100%);
        backdrop-filter: blue(30px);
        opacity: 0;
        z-index: 9999;
        transition: transform .9s ease, opacity 0.7s ease 0.2s;
    }
    #navbarNav{
        position: absolute !important;
        left: 0;
        top: 100%;
        width: 100%;
        height: 100vh;
    }
    .season{
        left: -100px;
        width: 50vw;
        top: -18vh;
    }
    .balances{
        z-index: 9;
        border-top: 2px solid var(--yellow);
        display: flex;
        width: auto;
        flex-direction: row !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
    }
}