@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&display=swap');
:root {
  --dark-violet: #16112daf;
  --violet: #221b4633;
  --light-violet: #605ee8;
  --violet-border: #4644ad;
  --white: #E1E9FF;
  --yellow: #fdc158;
  --orange: #f0ad4e;
  --red: #b6403c;
  --red-hover: #d9534f;
  --red-border: #813431;
  --green: #4bbf73;
  --button-gradient: linear-gradient(117deg, rgba(255,172,26,1) 0%, rgba(237,162,54,1) 100%);
}
body {
  cursor: url(./images/skeleton-hand.cur) !important;
}
input {
  background-color: var(--violet);
  border-radius: 6px;
  border: none;
  padding: 4px 10px;
  color: #fff;
  font-weight: 500;
}
.navbar{
  grid-area: header;
}
b, strong {
  font-weight: 700;
}
.main {
  display: grid !important;
	grid-template-areas: 
  "header"
  "section";
	grid-template-rows: 7vh 1fr;
  overflow-x: clip;
}
.loading {
  animation: infinite rotate 3s;
}
.container-fluid{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  grid-area: section;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw !important;
  max-height: 90vh;
  height: 90vh;
  overflow-x: clip;
}
.footer{
  grid-area: footer;
}
/** GLOBAL */
body{
  color: var(--white);
  font-family: 'Dosis', sans-serif !important;
  font-weight: 400;
}
h1,h2,h3,h4,h5 {
  font-family: 'Dosis', sans-serif !important;
  text-transform: none !important;
  font-weight: 700 !important;
  letter-spacing: 0.02em !important;
  margin: 0px !important;
  padding: 0px;
  font-size: 18px !important;
}
.h100{
  height: 100%;
}
span, div, p, code {
  font-family: 'Dosis', sans-serif !important;
}
.sk-flex{
  display: flex;
}
.sk-row{
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  column-gap: 6px;
}
.card.selected{
  border: 3px solid #f5e04c;
}
.card{
  position: relative;
  overflow: hidden;
  overflow: hidden;
  z-index: 10;
  border-radius: 5% / 3.5%;
  box-shadow: 
    -5px -5px 5px -5px var(--color1), 
    5px 5px 5px -5px var(--color2), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.card:hover {
  box-shadow: 
    -20px -20px 30px -25px var(--color1), 
    20px 20px 30px -25px var(--color2), 
    -7px -7px 10px -5px var(--color1), 
    7px 7px 10px -5px var(--color2), 
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
    url(https://assets.codepen.io/13471/holo.png), 
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);;
  opacity: 1;
}

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    #efb2fb
    48%,
    #acc6f8 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none;
}

.sk-column{
  flex-direction: column;
  row-gap: 6px;
}

.sk-container{
  position: relative;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sk-box {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  padding: 18px;
  margin: 12px;
  border-radius: 12px;
  background-color: var(--violet);
  backdrop-filter: blur(30px);
  border: 1px solid #16112d26;
  -webkit-box-shadow: 3px 2px 23px 2px rgb(0 0 0 / 29%);
  box-shadow: 3px 2px 23px 2px rgb(0 0 0 / 29%);
}

.sk-box-content {
  display: flex;
  padding: 12px;
  background: var(--violet);
  border-radius: 6px;
  row-gap: 6px;
  border: 1px solid rgba(0, 0, 0, 0.055);
}
a {
  color: var(--white);
  transition: color .54s cubic-bezier(0,.52,.47,.98) 0s;
}
a:hover {
  color: var(--light-violet) !important;
}
.highlight{
  font-size: 18px;
}

/** WIDTH */
.wd-50{
  min-width: 50%;
}
.wd-33{
  min-width: 33%;
}
.wd-66{
  min-width: 66%;
}
.wd-100{
  min-width: 100%;
}
.wd-44{
  min-width: 44%;
}
.wd-22{
  min-width: 22%;
}

/** ACTION BUTTON */

.skull-button{
  background-color: var(--light-violet);
  color: #fff;
  letter-spacing: 0.1em;
  font-size: 16px;
  padding: 4px 12px !important;
  border-radius: 6px !important;
  border: none;
  border-bottom: 2px var(--violet-border) solid;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: transform .54s cubic-bezier(0,.52,.47,.98) 0s;
}
.icon-menu, .skull-item{
  cursor: pointer;
}
.btn-success {
  background-color: #309479 !important;
  color: #fff;
}

.skull-button:hover{
  transform: scale(0.9);
}

.skull-button svg{
  margin-right: 6px;
}

.skull-button.view-button {
  padding: 6px 12px !important;
  background: #65587e;
  position: relative;
}

.floating-counter{
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  left: -5px;
  top: -5px;
  font-size: 10px;
  background: var(--red);
  border-radius: 100%;
  padding: 2px 2px 0px 3px;
  min-width: 18px;
}

.skull-button.view-button.active {
  background: var(--light-violet);
}

.sell-button {
  background: var(--danger);
  border-bottom: solid 2px var(--red-border);
}

.story-button{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  column-gap: 6px;
  justify-content: space-between;
}

.mission-button, .approve {
  background-color: var(--green) !important;
  border-color: #358952 !important;
  color: var(--white) !important;
}

.taver .mission-button:hover {
  color: var(--white);
}
.sk-claim-btn, .sk-purchase-btn{
  width: 100%;
  font-size: 1.6em;
  background: var(--button-gradient);
  color: var(--dark-violet);
  padding: 0.6em 0px;
  border-radius: 12px;
  border: 0px;
}
button[disabled], .disabled{
  filter: grayscale(1);
  background-color: #ddd;
}
.retire-button{
  background: var(--red);
  border-bottom: 2px solid var(--red-border);
  color: #fff;
}

.retire-button:hover{
  background: var(--red-hover);
}
.div-button{
  display: flex;
  column-gap: 6px;
}
/** GRIDS */
.grid {
  display: flex;
  display: row;
  flex-wrap: wrap;
}

.item{
  max-width: 25%;
  padding: 6px;
}

/** OVERFLOW */
.of-y-over{
  overflow-y: overlay;
}
.of-x-over{
  overflow-x: overlay;
}
/** NOTIFIER */
.notification-container--bottom-left{
  position: fixed !important;
}
.card > img {
  width: 100%;
}


@media (min-width:320px) and (max-width:640px) { 
  .card{
    max-width: 100%;
    width: 100%;
  }
  .skull-grid{
    max-height: 65vh;
  }
  .sk-container{
      max-width: 100%;
      width: 100%;
  }
  .sk-row.sk-flex{
    flex-direction: column;
  }
  .skull-item{
    max-width: 100%;
    width: 100%;
  }
  .container-fluid{
    max-height: 90vh;
    padding: 0px 0px !important;
    height: 90vh;
  }
  .story-modal .sk-box.container{
    flex-direction: column;
    max-height: 90vh;
  }
  .story-modal .image, .story-modal .metadata{
    max-width: 100% !important;
    width: 100% !important;
  }
  .story-modal .image{
    overflow-y: initial !important;
  }
  .story-modal .description{
    overflow-y: overlay;
    max-height: 50vh;
  }
  .merchant-egg {
    width: 100%;
  }
}

/** TOOLTIP */

span {
  position: relative;
}

.sk-tooltip {
  transform: scale(0);
  position: absolute;
  top: 100%;
  background-color: var(--dark-violet) !important;
  color: #fff !important;
  opacity: 0;
  font-weight: 400 !important;
  border: none !important;
  font-size: 12px !important;
  padding: 6px;
  border-radius: 6px;
  transition: opacity 0.2s linear;
  z-index: 99;
  min-width: 150px;
}
.sk-tooltip-full {
  width: 50vw;
}

.tooltip-icon{
  font-size: 12px;
  margin-left: 6px;
}

.skull-icon:hover + .sk-tooltip, .tooltip-toggle:hover .sk-tooltip{
  transform: scale(1);
  opacity: 1;
}
/** END GLOBAL */









input::-webkit-input-placeholder {
  font-size: 1rem;
}

.boxed {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.adminDash {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: top;
}

.form-control {
  color: #000 !important;
}

.croSkulls-main,
.page-wrapper {
  height: 100%;
}

.skullMetadata {
  padding: 16px 12px !important;
  margin: 12px 8px !important;
  font-family: 'Special Elite', cursive;
}

.container-fluid.main {
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#root {
  min-height: 100vh;
}

.border-shadow {
  border: 1px solid #193d71 !important;
  -webkit-box-shadow: 2px 3px 19px -3px #193D71;
  box-shadow: 2px 3px 10px -3px #152742;
  border-radius: 8px;
  color: #fff !important;
  background: transparent !important;
  background-color: transparent;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  padding: 10px;
}

.toggleContainer>label {
  padding: 0;
  margin: 0;
}

input[type="color"]:hover {
  cursor: pointer;
}

.NFT-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card-body {
  justify-content: space-between;
}

.spaced {
  column-gap: 10px;
}

b,
label {
  font-weight: 600 !important;
}

.col-md-6 {
  row-gap: 20px;
}

.mint-action {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-start;
}

.vertical {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 1%;
}

.cost-value {
  font-size: 26px;
  color: #000;
}

.mint-wrapper {
  padding: 25px;
}

.toogle-button {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #fff;
}

.filterBar {
  align-items: center;
}

.market {
  margin-top: 5%;
  border-radius: 5%;
  width: 100%;
}

.market-title {
  margin-top: 5%;
}

.market-title a {
  color: rgb(0, 140, 255);
}

.market-title a:hover {
  color: rgb(0, 140, 255);
  ;
}
/** STORY MODAL */
.story-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  z-index: 9999;
  background: #00000065 !important;
  overflow-y: hidden;
}

.story-modal .container {
  min-height: 30vh;
  max-height: 80vh;
  display: flex;
  flex-direction: row;
  max-width: 720px;
  overflow-y: auto;
}

.story-modal .description {
  background: #16112D;
  border-radius: 6px;
}

.story-modal .pay-action {
  display: flex;
  flex-direction: row;
  row-gap: 6px;
  justify-content: space-between;
}

.story-modal .image {
  max-width: 33%;
  padding: 12px;
  row-gap: 6px;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
}

.story-modal .description-editor{
  background-color: #E1E9FF;
  color: #000;
}

.story-modal .metadata {
  position: relative;
  max-width: 66%;
  width: 66%;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 12px;
}

.metric-icon {
  font-weight: 500;
}

span.metric-usd-value {
  font-size: 12px;
  font-weight: 500;
}

.story-modal .description {
  margin: 6px;
  padding: 12px;
  overflow-y: overlay;
}

.container .close-icon {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 12px;
  top: 12px;
  padding: 2px 6px;
  background: #605ee8;
  border-radius: 6px;
  transition: background .54s cubic-bezier(0,.52,.47,.98) 0s;
}
.container .close-icon:hover {
  background: #4947ad;
}

.story-modal label{
  margin-top: 12px;
  margin-bottom: 0px;
}

.story-modal .edit-button{
  background: #f0ad4e;
}

.story-modal .save-cro{
  z-index: 999999;
}

.fade-enter,
.fade-exit {
  position: absolute;
  transition: opacity .54s cubic-bezier(0,.52,.47,.98) 0s;
}
.fade-enter,
.fade-exit-active {
  transform: scale(0);
  opacity: 0;
}
.fade-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: opacity .54s cubic-bezier(0,.52,.47,.98) 0.2s, transform 0s 0;
  z-index: 1;
}
.nav-item {
  margin-right: 0px !important;
}
.nav-link {
    letter-spacing: 0.03em;
    font-weight: 700;
}


/** ANIMATIONS */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
  75% {
    transform: rotate(359deg);
	}
}