body {
    /*background-color: #0b1424;*/
    background: #221B47;
    color: #E1E9FF;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-end;
    flex-wrap: nowrap;
}


body::-webkit-scrollbar-track, div::-webkit-scrollbar-track, ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	border-radius: 10px;
	background-color: #16112D;
}

body::-webkit-scrollbar, div::-webkit-scrollbar, ::-webkit-scrollbar-track
{
	width: 6px !important;
	background-color: #16112D;
    height: 6px;
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #9e6eff;
    z-index: 0;
}
.progress {
    background: #16112d;
}